
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<div>
    @Html.ActionLink("Beverages", "GetBeverages")
</div>

<table id="products" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>QuantityPerUnit</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th></th>
        </tr>
    </thead>


        <tbody id="Products">
            @*<tr>
                <td>ProductName</td>
                <td>Categories.CategoryName</td>
                <td>Suppliers.CompanyName</td>
                <td>QuantityPerUnit</td>
                <td>UnitPrice</td>
                <td>UnitsInStock</td>
                <td>
                    @Html.ActionLink("Detail", "Detail", "Product", new { id = product.ProductID }, null) &nbsp
                    @Html.ActionLink("Edit", "Edit", "Product", new { id = product.ProductID }, null) &nbsp
                    <button data-product-id="@product.ProductID" class="btn-link js-delete">Delete</button>
                </td>
            </tr>*@
        </tbody>
    
</table>


@section scripts
{
  <script>

     $.ajax({
			url: "/api/Products/",
			method: "GET",
			success:
			function(data) {
				console.log("SUCCESS!!!");
					for (i=0; data.length>i; i++) {
						var str;
						str= '<td>'+data[i].productName +'</td>'+
							 '<td>'+data[i].quantityPerUnit +'</td>'+
                             '<td>'+data[i].unitPrice +'</td>'+
                             '<td>'+data[i].unitsInStock +'</td>'+
                             '<td>'+
                                '<button data-product-id=i class="btn-link js-delete">' + "Delete"+ '</button>'
                             +'</td>';
						$("#Products").append("<tr>"+str+"</tr>");
					}
			}
		});


            $(document).ready(function () {
                $("#Products .js-delete").on("click", function () {
                    if (confirm("Are you sure to delete it?")) {
                        $.ajax({
                            url: "/api/products/" + $(this).attr("data-product-id"),
                            method: "DELETE",
                            success: function(){
                                console.log("success");
                                $(this).parents("tr").remove();
                            }
                        });
                    }
                });

            });
  </script>
}