@model IEnumerable<NewProject.Models.Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>UnitPrice</th>
            <th>Discontinued</th>
        </tr>
    </thead>
    @foreach (var product in Model)
    {

        <tbody>
            <tr>
                <td>@product.ProductName</td>
                <td>@product.UnitPrice</td>
                <td>@product.Discontinued</td>
            </tr>
        </tbody>
    }
</table>